.cursor {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-10px, 0px);
    box-shadow: 0px 0px 0px 2px #222 inset;
}

.offset {
    transform: translate(-10px, -10px);
}